.wizard {
	display: block;
}

		.wizard-portrait .step {
				padding-top: 0px !important;
		}

.wizard nav {
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #ddd;
}

		.wizard nav.hidden {
				display: none !important;
		}

.wizard nav label {
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	margin-bottom: 0px;
	position: relative;
	font-weight: normal !important;
	border-bottom: 6px solid transparent;
				border-top: 6px solid transparent;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
}

.wizard nav label.active,
.wizard nav label.enable:hover {
	background-color: rgb(245, 245, 245);
	border-bottom: 6px solid rgb(82, 145, 245);
	cursor: pointer;
}

		.wizard nav label.disabled {
				cursor: not-allowed;
		}

.wizard-portrait {
	display: -webkit-flex;
	display: flex;
}

.wizard-portrait nav {
	display: inline-block;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	border-bottom: none;
}

.wizard-portrait > div {
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4;
}

.wizard-portrait nav label {
	display: block;
	border-left: 6px solid transparent !important;
}

.wizard-portrait nav label.active,
.wizard-portrait nav label.enable:hover {
	background-color: rgb(245, 245, 245);
	border-bottom-color: transparent !important;
	border-left: 6px solid rgb(82, 145, 245) !important;
	cursor: pointer;
}

.wizard-portrait nav label:hover::after,
.wizard-portrait nav label.active::after {
	display: block;
	width: 20px;
	height: 20px;
	background: white;
	content: ' ';
	position: absolute;
	right: -10px;
	top: 5px;
	-webkit-transform: rotate(45deg);
}
